body {
    font-size: 20px;
}

.header {
    height: 10vh;
    background-color: bisque;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.logo, .burger {
    padding: 0 10px;
}

.nav ul {
    display: flex;
    list-style: none;
}

ul li {
    margin-left: 10px;
}

.main {
    height: 90vh;
    background-image: url(https://static4.depositphotos.com/1001033/332/i/600/depositphotos_3321783-stock-photo-fire.jpg);
    background-size: 100%;
    color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 50vw;

}