body {
    font-size: 24px;

}

.wrapper {
    max-width: 80%;
    margin: 20px;
}

.header-logo-img {
    width: 50px;
}

.header {
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: grey;
    color: white;
}



.main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 25px;
}

.sign-up-btn-footer {
   border: 1px solid #FF9900;
   border-radius: 8px;
   width: 130px;
   height: 40px;
   font-size: 16px;
   background-color: #FF9900;
   color: white;
}

.li-footer {
    margin-top: 10px;
}


input {
   border: 1px solid #BCD0E5;
   box-sizing: border-box;
   border-radius: 4px;
   margin-bottom: 10px;
   margin-top: 10px;
   height: 40px;
   width: 175%;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.list-item-nav {
    padding:  0 20px;
}

.menu-1 {
    width: 100%;
}