body {
    font-size: 24px;

}

.wrapper {
    max-width: 80%;
    margin: 20px auto;
}

.header-logo-img {
    width: 50px;
}

.header {
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: grey;
    color: white;
}



.main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 25px;
}

.sign-up-btn-footer {
   border: 1px solid #FF9900;
   border-radius: 8px;
   width: 130px;
   height: 40px;
   font-size: 16px;
   background-color: #FF9900;
   color: white;
}

.li-footer {
    margin-top: 10px;
}


input {
   border: 1px solid #BCD0E5;
   box-sizing: border-box;
   border-radius: 4px;
   margin-bottom: 10px;
   margin-top: 10px;
   height: 40px;
   width: 175%;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.list-item-nav {
    padding:  0 20px;
}

.menu-1 {
    width: 100%;
}

.footer ul {
    margin-right: 10px;
    width: max-content;
}

.footer li {
    line-height: 36px;
}

.footer li a {
    text-decoration: none;
    color: inherit;
}

.footer {
    border-top: rgba(188, 208, 229, 0.4969) solid 1px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    height: 390px;
    padding: 102px 0 80px 0;
}

.footer img {
    width: 22%;
    min-width: 100px;
    align-self: flex-start;
    margin-right: 40px;
}

.btn {
    font-weight: 600;
    background-color: #FF9900;
    border-radius: 4px;
    height: 46px;
    text-decoration: none;
    color: white;
    border: 1px solid #FF9900;
    cursor: pointer;
}

.footer .btn {
    height: 39px;
    font-weight: 700;
    width: 131px;
}